body{
    margin: 0;
    padding: 10px 80px;
    color: rgb(177, 177, 216); 
    background:lightblue ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
    padding: auto;
}

header {
    color: rgb(42, 67, 88); 
    background:rgb(118, 142, 150) ;
    border: 50px;
    overflow: hidden;
}

.logo{
    float: left;
}

.menu{
    float: right;
    position: relative;
    font-weight: 700%;
    color: rgb(46, 67, 100);
    
}

main {
    color: rgb(72, 125, 133); 
    background:rgb(212, 231, 237) ;
    border: 50px;
}